.about-you {
  // background-color: #0A0A0A;
  // margin-top: 50%;
  margin-bottom: 0%;
  // text-align: center;

  // @media screen and (max-width: $break-small) {
  //   width: 100px;
  //   float: none;
  //   color: tomato;
  // }

  @media screen and (min-width: $break-large) {
    float: right;
  }
}

.about-you-input {
  // background-color: #0A0A0A;
  // margin-top: 50%;
  margin-bottom: 10%;

  // text-align: center;

  // @media screen and (max-width: $break-small) {
  //   width: 100px;
  //   float: none;
  //   color: tomato;
  // }
  margin-left: 10%;
  z-index: 2;
  width: 80%;
  border: 1px solid #0b4657;
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 64px;
  outline-width: 100;
  text-indent: 40px;
  font-family: 'Pacifico';

  @media screen and (min-width: $break-large) {
    // float: right;
  }
  -webkit-animation: fadein 1s
}

.title {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 100px;
  color: #0b4657;
  font-family: 'Pacifico';
  -webkit-animation: fadein 1s
  // -webkit-animatrion: fadeout 1s
}

.question-text {
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 64px;
  color: black;
  font-family: 'Pacifico';
  -webkit-animation: fadein 1s
  // -webkit-animatrion: fadeout 1s
}

.next-button {
  align-self: center;
  border-color: #0b4657;
  border-width: 10px;
  border-radius: 40px;
  background-color: white;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-top: 5%;
  font-family: 'Pacifico';
  font-size: 64px;
  width: 80%;
  height: 200px;
  -webkit-animation: fadein 1s
}
//
// input[type=checkbox]
// {
//   /* Double-sized Checkboxes */
//   -ms-transform: scale(2); /* IE */
//   -moz-transform: scale(2); /* FF */
//   -webkit-transform: scale(2); /* Safari and Chrome */
//   -o-transform: scale(2); /* Opera */
//   padding: 10px;
// }

.checkbox {
  // color: #0b4657;
  padding-bottom: 10%;
  font-size: 48px;
  float: left;
  width: 100%;
}

.checkboxes {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 40px;
  // margin-left: 5%;
  -webkit-columns: 2;
  -webkit-animation: fadein 1s;
  width: 80%;
  margin-left: 12.5%;
}
